﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/auth/registrar" method="post" >

    
    <label class="form-group">Username</label>

    <input type="text" name="Username" value="@Model.Username"  />
    <p style="color:red">@Html.ValidationMessage("Username")</p>

   
    <label >Contraseña</label>

    <input type="password" name="PasswordConf" value="" />
    <p style="color:red">@Html.ValidationMessage("Password")</p>

    
    <button class="btn btn-success">Registrar</button>
</form>