﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="btn btn-primary" href="/home/index">Todos los Ejercicios</a>

<a class="btn btn-primary" href="/rutina/create">Nueva Rutina</a>

<a class="btn btn-primary" href="/rutina/index">Rutinas Creadas</a>

<a class="btn btn-danger" href="/auth/logout">Salir</a>

<h1>@Model.Nombre</h1>


<iframe width="560" height="315" src="@Model.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
