﻿@{
    ViewData["Title"] = "Home Page";
}


<a class="btn btn-primary" href="/home/index">Todos los Ejercicios</a>

<a class="btn btn-primary" href="/rutina/create">Nueva Rutina</a>

<a class="btn btn-primary" href="/rutina/index">Rutinas Creadas</a>

<a class="btn btn-danger" href="/auth/logout">Salir</a>

<br />
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Id
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    <a href="/home/detalle?id=@item.Id">Ver Ejercicio </a>
                </td>
            </tr>
        }

    </tbody>
</table>