﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/rutina/create" method="post" >

    <div class="form-group">
        <input type="hidden" name="UsuarioId" value="@ViewBag.usuario.Id" />
        <label class="form-group">Nombre</label>

        <input type="text" name="Nombre" value="@Model.Nombre"  />
        <p style="color:red">@Html.ValidationMessage("Nombre")</p>

    </div>
    <div>
        <label >Tipo</label>

        <select name="Tipo">

            <option value="">---Selecciona un tipo---</option>
            <option value="Principiante">Principiante</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Avanzado">Avanzado</option>
        </select>
        <p style="color:red">@Html.ValidationMessage("Tipo")</p>

    </div>

    <button class="btn btn-success">Crear</button>
</form>